*{
    margin: 0;
    padding: 0;
}
.baceground{
    background-color: #1D5D9B;
   
}
.logo{
   width: 140px !important;
}
.nav-links{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
}
.linksign{
    text-decoration: none !important;
    color: #1a1a1a;
}
.linksignup{
    text-decoration: none !important;
    color: #1a1a1a;
}
