.card {
    width: 80%;
    margin: auto;
    align-items: center;
}

.icon{
    /* height: 20px; */
    width:  100px;
    font-size: 20px;
}
.titlecard{
    font-size: 20px;
    font-weight: 500;
}

